<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title ">Simple Table</h4>
          <p class="card-category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>Jewelry Maker ID</th>
                <th>Jewelry Maker Name</th>
                <th>Contact Number</th>>
              </thead>
              <tbody>
                <tr *ngFor="let maker of makers">
                  <td>{{maker.jewMId}}</td>
                  <td>{{maker.jewMName}}</td>
                  <td>{{maker.contactNo}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>