<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Edit Profile</h4>
          <p class="card-category">Complete your profile</p>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Gem Type" type="text" name="gemType" [(ngModel)]="gemData.gemType">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Carat" type="number" name="carat" [(ngModel)]="gemData.carat">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Weight" type="number" name="weight" [(ngModel)]="gemData.weight">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="addedDate"
                         [(ngModel)]="gemData.addedDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="saveGem()">Save Gem
            </button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title ">Simple Table</h4>
          <p class="card-category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <th>Gem ID</th>
              <th>Gem Type</th>
              <th>Carat</th>
              <th>Weight</th>
              <th>Added Date</th>
              <th>Action</th>
              </thead>
              <tbody>
              <tr *ngFor="let gem of gems">
                <td>{{gem.gemId}}</td>
                <td>{{gem.gemType}}</td>
                <td>{{gem.carat}}</td>
                <td>{{gem.weight}}</td>
                <td>{{gem.addedDate | date}}</td>
                <td>
                  <button mat-mini-fab class="btn btn-danger" (click)="deleteGem(gem.gemId)">
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
