<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Edit Profile</h4>
          <p class="card-category">Complete your profile</p>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Metal Type" type="text" name="metalType"
                         [(ngModel)]="metalData.metalType">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Carat" type="number" name="carat" [(ngModel)]="metalData.carat">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Weight" type="number" name="weight" [(ngModel)]="metalData.weight">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="addedDate"
                         [(ngModel)]="metalData.addedDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="saveMetal()">Save Metal
            </button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="editCardVisible">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Edit Profile</h4>
          <p class="card-category">Complete your profile</p>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Metal Type" type="text" name="metalId" [(ngModel)]="updateMetalData.metalId">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Add New Weight" type="number" name="updatedWeight" [(ngModel)]="updateMetalData.updatedWeight">
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title ">Simple Table</h4>
          <p class="card-category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <th>Metal ID</th>
              <th>Metal Type</th>
              <th>Carat</th>
              <th>Weight</th>
              <th>Added Date</th>
              <th>Action</th>
              </thead>
              <tbody>
              <tr *ngFor="let metal of metals">
                <td>{{metal.metalId}}</td>
                <td>{{metal.metalType}}</td>
                <td>{{metal.carat}}</td>
                <td>{{metal.weight}}</td>
                <td>{{metal.addedDate | date}}</td>
                <td>
                  <button mat-mini-fab class="btn btn-danger" (click)="deleteMetal(metal.metalId)">
                    <i class="material-icons">delete</i>
                  </button>

                  <button mat-mini-fab class="btn btn-danger ml-2" (click)="editMetal()">
                    <i class="material-icons">create</i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
