<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Edit Profile</h4>
          <p class="card-category">Complete your profile</p>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <mat-label>Select Metal</mat-label>
                  <mat-select [(ngModel)]="metalData.metalId" name="metalId">
                    <mat-option *ngFor="let metal of metals" [value]="metal.metalId">
                      {{metal.metalType}} (carat {{metal.carat}})
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Weight" type="number" name="givenMetalWeight" [(ngModel)]="jewelryMakingOrderData.givenMetalWeight">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <mat-label>Select Gem</mat-label>
                  <mat-select [(ngModel)]="gemData.gemId" name="gemId">
                    <mat-option *ngFor="let gem of gems" [value]="gem.gemId">
                      {{gem.gemType}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <mat-label>Select Jewelry Maker</mat-label>
                  <mat-select [(ngModel)]="makersData.jewMId" name="jewMId">
                    <mat-option *ngFor="let maker of makers" [value]="maker.jewMId">
                      {{maker.jewMName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="addedDate" [(ngModel)]="jewelryMakingOrderData.givenDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="placeOrder()">Save
              Order
            </button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title ">Simple Table</h4>
          <p class="card-category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>Order ID</th>
                <th>Gem</th>
                <th>Metal</th>
                <th>Given Metal Weight</th>
                <th>Jewelry Maker</th>
                <th>Given Date</th>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders">
                  <td>{{order.jewMDId}}</td>
                  <td>{{order.gem?.gemType}}</td>
                  <td>{{order.metal?.metalType}}</td>
                  <td>{{order.givenMetalWeight}}</td>
                  <td>{{order.jewelryMaker?.jewMName}}</td>
                  <td>{{order.givenDate | date}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
